*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

:root {
  --opacity-button: 0.9;
  --color-purple: #c271ff;
  --text-32: 3.2rem;
  --text-18: 1.8rem;
  --text-22: 2.2rem;
  --text-63: 6.3rem;
  --text-14: 1.4rem;
  --color-black: #071629;
  --text-30: 3rem;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

header {
  background-image: url(./images/pic_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.purple-b {
  background-color: var(--color-purple);
}

.purple-t {
  color: var(--color-purple);
}

.black-b {
  background-color: var(--color-black);
}

.text-32 {
  font-size: var(--text-32);
}

.text-18 {
  font-size: var(--text-18);
}

.text-22 {
  font-size: var(--text-22);
}

.text-63 {
  font-size: var(--text-63);
}

.text-14 {
  font-size: var(--text-14);
}

.video {
  width: 25.5rem;
  height: 33.5rem;
}

.play {
  margin: -11rem 0 4rem 8.5rem;
}

.arrow-videos {
  color: var(--color-black);
}

.icons-footer {
  color: white;
  font-size: var(--text-30);
}

.op-35 {
  opacity: 35%;
}
